@charset "UTF-8";

/*header設定*/
.movie-wrapper {
  position: relative; /*h1の中央寄せ配置の起点とするためのrelative*/
  height: 100vh; /*高さを全画面にあわせる*/
}

#video-area {
  position: fixed;
  z-index: -1; /*最背面に設定*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}

/*見出し設定*/
.moviemozi {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
    "Yu Mincho", "MS PMincho", serif;
  font-size: 36px;
  letter-spacing: 0.12em;
  line-height: 1.8em;
  height: 100vh;
  /* 縦書き */
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  /*要素の配置*/
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color: #fff;
  text-shadow: 0 0 15px #666;
}

.p-underline {
  display: inline-block;
  border-right: 2px solid #fff; /*下線の太さと色*/
  padding-right: 2px; /*テキストから下線までの間隔*/
}

/*========= レイアウトのためのCSS ===============*/

#container {
  background: #fff;
  padding: 300px 0;
  text-align: center;
}

.banner1 {
  width: 26vw;
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 80%;
  left: 85%;
  transform: translateY(-50%) translateX(-50%);
}

.banner2 {
  font-size: 14px;
  letter-spacing: 0.12em;
  width: 30vw;
  height: 5vh;
  /*要素の配置*/
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 94%;
  left: 86%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color: #00a2e5;
  background: #fff;
  text-align: center;
  line-height: 5vh;
  border-radius: 20px 0px 0px 20px;
}
